In [1]:
from http.client import responses
import os
import googleapiclient.discovery
from lib.keys import api_key as DEVELOPER_KEY
import numpy as np
import pandas as pd
import json
import csv

In [2]:
# API CALL
api_service_name = "youtube"
api_version = "v3"

youtube = googleapiclient.discovery.build(
    api_service_name, api_version, developerKey = DEVELOPER_KEY)

In [3]:
search_results = pd.read_csv("dataset/searchResults.csv")

In [4]:
# lists
user_name = []
user_comment = []
user_likes_count = []

In [13]:
for i in range(0,5):
    videoID = (search_results['videoId'][i])
    
    request = youtube.commentThreads().list(
    part="snippet,replies",
    maxResults=100,
    videoId=videoID)
    response = request.execute()
    
    comments_total = len(response['items'])

    for j in range(comments_total):
        user_comment.append(response['items'][j]['snippet']['topLevelComment']['snippet']['textOriginal'])
        user_name.append(response['items'][j]['snippet']['topLevelComment']['snippet']['authorDisplayName'])
        user_likes_count.append(response['items'][j]['snippet']['topLevelComment']['snippet']['likeCount'])

In [14]:
# save into csv
pd.DataFrame({'Username': user_name, 'Comment': user_comment, 'Likes': user_likes_count}).to_csv('dataset/videos.csv', index=False)

In [15]:
# display the dataset
output = pd.read_csv("dataset/videos.csv")
display(output)

,Username,Comment,Likes
0,Centralist man,"Kumbh mela, bengal rallies are super spreader\...",0
1,Man,üè¥üè¥,0
2,Varun 12,This farmers will harvest new novel strains of...,0
3,Akash,India is fully against these farmers,0
4,Shakti Narwal,Hisar in Turkish means Fortress. So yeah,0
...,...,...,...
2351,Mohit Sachdeva,"Tum jitna bhi kar lo Lallantop, Farm laws wapi...",6
2352,Deep Talukdar,Aaj the lallantop show aur duniadari abhi tak ...,1
2353,Life Show PS Just truth,Jai kishan....Jai javan,2
2354,EXTREME MEMER ‚úî,KISAAN MAZDOOR EKTA ZINDAABAD,2
2355,Md Sarfraz,where is lallantop show??\nsocial list and dun...,2